<?xml version="1.0"?>
<configuration> 
  <system.serviceModel>
    <services>
      <service name="Service.CalcService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8082/CalcService" contract="Service.ICalc" binding="wsHttpBinding"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            <serviceCertificate findValue="DemoCert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"/>          
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
<system.web>
  <roleManager enabled="true"/>
</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
