<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHotelBookingService"/>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHotelBookingService"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/HotelBooking/basicHttpBinding" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelBookingService" contract="HotelBooking.IHotelBookingService" name="BasicHttpBinding_IHotelBookingService"/>
            <endpoint address="net.tcp://localhost:8734/HotelBooking/HotelBookingTCP" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHotelBookingService" contract="HotelBooking.IHotelBookingService" name="NetTcpBinding_IHotelBookingService">              
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
