<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
   
    <behaviors>
      <serviceBehaviors>
        <!--TODO: add here the service behavior with the serviceMetadata behavior-->
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="HotelBooking.HotelBookingService">
        <!--TODO: add here the service base address and endpoints-->
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
