<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <system.serviceModel>       
    <services>
      <service name="Service.SimpleService">                
        <endpoint address="" binding="basicHttpBinding" contract="Service.ISimpleService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
