<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="BlueYonderFrequentFlyer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BlueYonder.Server.FrequentFlyer.Apx01;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpTransactionalBind" transactionFlow="true" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="BlueYonder.FrequentFlyerService.Implementation.FrequentFlyerService">
        <endpoint name="FrequentFlyerTcp" address="net.tcp://localhost:5010/BlueYonder/FrequentFlyer" binding="netTcpBinding" bindingConfiguration="TcpTransactionalBind" contract="BlueYonder.FrequentFlyerService.Contracts.IFrequentFlyerService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost/BlueYonder/FrequentFlyer" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>