<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="HotelBooking.HotelBookingService">
        <endpoint address="HotelBookingHttp" binding="basicHttpBinding" contract="HotelBooking.IHotelBookingService"/>
        <endpoint address="HotelBookingTcp" binding="netTcpBinding" contract="HotelBooking.IHotelBookingService"/>
        <endpoint address="mex" kind="mexEndpoint"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/HotelBooking/"/>
            <add baseAddress="net.tcp://localhost:8734/HotelBooking/"/>            
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
