<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CustomOperationInvoker.SimpleService">
        <endpoint address="" binding="basicHttpBinding" contract="CustomOperationInvoker.ISimpleService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SimpleService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
