<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BlueYonderServer" connectionString="Data Source=.\SQLEXPRESS;Database=BlueYonder.Server.Lab07; Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="BlueYonder.BookingService.Implementation.BookingService">
        <endpoint name="BookingTcp" binding="netTcpBinding" contract="BlueYonder.BookingService.Contracts.IBookingService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="TcpTransactionalBind" transactionFlow="true" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost/BlueYonder.Server.FrequentFlyer.WebHost/FrequentFlyer.svc" binding="netTcpBinding" bindingConfiguration="TcpTransactionalBind" contract="BlueYonder.FrequentFlyerService.Contracts.IFrequentFlyerService" name="FrequentFlyerEP"></endpoint>
    </client>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="BlueYonder.BookingService.Implementation.BookingService" relativeAddress="Booking.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>