<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <system.serviceModel>    
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalc">
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:8082/CalcService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ICalc" contract="Service.ICalc"
        name="WSHttpBinding_ICalc">
        <identity>
          <certificateReference findValue="DemoCert" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
