<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1><br />
                <h2>Please enter number and click the button:</h2>
            </hgroup>
            <p>
                 <input type="text" id="txt" /><br />
                <input type="button" id="btnGet" value="Click to get the value" />
            </p>

        </div>
    </section>
</div>
