<hgroup>
    <h1>BlueYonder Reservations</h1>
    <h2>This is the BlueYonder Reservations API service.</h2>
    <h2>Visit <a href="/api/reservations">/api/reservations</a> to view the latest reservations.</h2>
</hgroup> 