@model IEnumerable<BlueYonder.Companion.Entities.LocationDTO>
@using BlueYonder.FlightsManager

@{
    ViewBag.Title = "Index";
}
<section class="filters">
    <table>
        <tr>
            <td>Departs from</td>
            <td>Lands in</td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("lstFrom", Model.Select(l => new SelectListItem { Text = l.GetFullLocation(), Value = l.LocationId.ToString() }))</td>
            <td>
                @Html.DropDownList("lstTo", Model.Select(l => new SelectListItem { Text = l.GetFullLocation(), Value = l.LocationId.ToString() }))</td>
            <td>
                <div class="filter_button" id="btnFilter" value="Filter"></div>
            </td>
        </tr>
    </table>
</section>
<div>


    @*  <input type="button" id="btnFilter" value="Filter" />*@
</div>

<div id="flights">
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#btnFilter').click(function () {
                var from = $("#lstFrom").val();
                var to = $("#lstTo").val();

                $.get("@Url.Content("~/flights/schedules")",
                 { from: from, to: to },
                function (data) {
                    $('#flights').html(data);
                    $.getScript('@Url.Content("~/scripts/FlightSchedules.js")');
                });
            });
        });
    </script>
}