<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <div ng-app="myApp" ng-controller="myCtrl">
        <p>List of all contacts:</p>
        <table>
            <tr ng-repeat="x in allContacts">
                <td>{{ $index + 1 }}.</td>
                <td>{{ x.FirstName }}</td>
                <td>{{ x.LastName }}</td>
                <td>{{ x.Email }}</td>
                <td>{{ x.Company }}</td>
                <td>{{ x.MobilePhone }}</td>
            </tr>
        </table>
        <h3 ng-show="noRecords == '0'">No contact records</h3>
        <button ng-click="onGetAllContacts()">Refresh</button>

        <br/>
        Add by phone number: <input type="text" ng-model="newContactPhoneNumber" />
        <button ng-click="onPostContact()">Save Contact</button>
        <h3>{{result}}</h3>

        <br/>
        Update by phone number: <input type="text" ng-model="contactPhoneNumber" />
        <button ng-click="onPutContact()">Update Contact</button>
        <h3>{{putResult}}</h3>

        <br/>
        Delete by phone number: <input type="text" ng-model="contactPhoneNumberToDelete" />
        <button ng-click="onDeleteContact()">Delete Contact</button>
        <h3>{{deleteResult}}</h3>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {
            $http({
                method: "GET",
                url: "api/Contacts"
            }).then(function mySucces(response) {
                $scope.allContacts = response.data;
                $scope.noRecords = response.data.length;
            }, function myError(response) {
                $scope.allContacts = response.statusText;
            });

            $scope.onGetAllContacts = function () {
                $http({
                    method: "GET",
                    url: "api/Contacts"
                }).then(function mySucces(response) {
                    $scope.allContacts = response.data;
                    $scope.noRecords = response.data.length;
                }, function myError(response) {
                    $scope.allContacts = response.statusText;
                });
            };

            $scope.onPostContact = function () {
                var data = { "FirstName": "John", "LastName": "Doe", "Email": "jd@contoso.com", "MobilePhone": $scope.newContactPhoneNumber };
                $http.post(
                    '/api/Contacts',
                    JSON.stringify(data),
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                ).success(function (data) {
                    $scope.result = "Saved!";
                });
            };

            $scope.onPutContact = function () {
                var data = { "FirstName": "Teddy", "Company": "Contoso" };
                $http.put(
                    '/api/Contacts/' + $scope.contactPhoneNumber,
                    JSON.stringify(data),
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                ).success(function (data) {
                    $scope.putResult = "Updated!";
                });
            };

            $scope.onDeleteContact = function () {
                $http.delete(
                    '/api/Contacts/' + $scope.contactPhoneNumberToDelete
                ).success(function (data) {
                    $scope.deleteResult = "Deleted!";
                });
            };
        });
    </script>

</body>
</html>